# Terraform files to ignore

terraform/.terraform/
terraform/.terraform/*
*.pem
*_override.tf
*_override.tf.json

/.vscode/
*.lock.hcl
terraform-key.pem
*.tfstate
*.tfstate.backup
*.tfstate.*
crash.log
terraform.tfvars
backend-config.tfvars
 